guide{
  margin: 0 auto;
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:  16px;
  line-height: 20px;
  margin: 0 100px;
}

h1, h2, h3, h4, h5, h6, .toc_title {
  color: #06c;
  margin-top: 2.125em;
  margin-bottom: 1.125em;
}

h1 {
  text-align: center;
  font-size: 40px;
  line-height: 44px;
}

h2, .toc_title {
  font-weight: bold;
  margin-left: -42px;
  font-size: 32px;
  line-height: 42px;
}

h3, h4, h5, h6 {
  margin-left: -20px;
  font-size: 24px;
  line-height: 40px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

.toc_category, .toc_stylepoint {
  font-size: 12pt;
  padding-top: .35em;
  padding-bottom: .35em;
}

table {
  border-collapse: collapse;
  margin-top: 2em;
  margin-bottom: 2em;
}

td, th {
  border: 2px solid #ccc;
  padding: 2px 20px;
  font-size: 12pt;
}

.toc td, .toc th {
  border-width: 2px 6px;
}

code, samp, var {
  color: #060;
}

pre {
  font-size: 14pt;
  display: block;
  color: #060;
  background-color: #f8fff8;
  border-color: #f0fff0;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 0px;
}

pre.badcode {
  color: #c00;
  background-color: #fff8f8;
  border-color: #fff0f0;
}

code,
pre {
  padding: 0 5px 6px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  /*color: #333333;*/
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 3px 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  margin-left: 1px;
  margin-right: 1px;
}

pre {
  display: block;
  padding: 14px;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.showhide_button {
  float: left;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #aaa #aaa #ddd;
  padding: 0 3px 1px;
  margin: 0 4px 8px 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.link_button {
  float: left;
  display: none;
  background-color: #f8f8ff;
  border-color: #f0f0ff;
  border-style: solid;
  border-width: 1px;
  font-size: 75%;
  margin-top: 0;
  margin-left: -50px;
  padding: 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

address {
  text-align: right;
}

hr {
  margin-top: 3.5em;
  border-width: 1px;
  color: #fff;
}

.stylepoint_section {
  display: block;
  margin-bottom: 1em;
  color: #5588ff;
  font-family: sans-serif;
  font-size: 90%;
  font-weight: bold;
  margin-left: -2%;
}

.stylepoint_subsection {
  color: #667799;
  font-family: sans-serif;
  font-size: 90%;
  font-weight: bold;
  margin-left: -1%;
}

.stylepoint_subsubsection {
  color: #667799;
  font-family: sans-serif;
  font-size: 80%;
  font-weight: bold;
  margin-left: 0;
}

.revision {
  text-align: right;
}


a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

p, ul, dl{
  line-height: 1.75em;
}

dd,li {
  margin-bottom: 5px;
}